//// Hide blocks on certain viewports
//// Example: show only on MD width
//.selector {
//  // Скрыть на LG (включительно) и выше (скрыто на $screen-lg (992) и более широких)
//  .hidden-up(lg);
//  // Скрыть на SM (включительно) и ниже (скрыто на $screen-md - 1 (768 - 1 = 767) и более узких)
//  .hidden-down(sm);
//}

@mixin hidden-up($screen: xs) {
  // @if ($screen = xs) { // XS по умолчанию 0, так что это бессмысленно
  //   @media (min-width: $screen-xs) { display: none; }
  // }
  @if ($screen = sm) {
    @media (min-width: $screen-sm) { display: none; }
  }
  @if ($screen = md) {
    @media (min-width: $screen-md) { display: none; }
  }
  @if ($screen = lg) {
    @media (min-width: $screen-lg) { display: none; }
  }
  @if ($screen = xl) {
    @media (min-width: $screen-xl) { display: none; }
  }
  @if ($screen = xxl) {
    @media (min-width: $screen-xxl) { display: none; }
  }
}

@mixin hidden-down($screen: xs) {
  @if ($screen = xs) {
    @media (max-width: ($screen-sm - 1)) { display: none; }
  }
  @if ($screen = sm) {
    @media (max-width: ($screen-md - 1)) { display: none; }
  }
  @if ($screen = md) {
    @media (max-width: ($screen-lg - 1)) { display: none; }
  }
  @if ($screen = lg) {
    @media (max-width: ($screen-xl - 1)) { display: none; }
  }
  @if ($screen = xl) {
    @media (max-width: ($screen-xxl - 1)) { display: none; }
  }
  @if ($screen = xxl) {
    @media (max-width: ($screen-xxl - 1)) { display: none; }
  }
}