/* ## Main Nav
--------------------------------------------- */
.site-nav {
  @include grid-row;
  @include grid-row-spacing(space-around);
  @include grid-row-alignment-vertical(center);
  position: relative;
  background-color: $color-danger;
  color: #fff;

  .icon {
    font-size: 3rem;
    line-height: 5.4rem;
    color: #fff;
  }

  &-arrow {
    position: absolute;
    visibility: hidden;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    content: "";
    color: #fff;
    border-style: solid;
    border-color: transparent transparent currentColor transparent;
    margin-left: -6px;
    border-width: 6px;

    opacity: 0;
    transform: translate(0px, 20px);
    transition: visibility 0s .5s, opacity .3s ease-in-out .2s, transform 0.375s ease-in-out .2s;

    .is-active &  {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, 0px);
      transition: visibility 0s ease-in-out .2s, opacity .3s ease-in-out .2s, transform .3s ease-in-out .2s;
    }
  }

  .is-active > .main-nav-follow-link .icon, .is-active > .main-nav-search-link .icon {
    color: $color-gray-darker;
  }

  .is-active &-hamburger-icon {
    background-color: transparent;
    &::before, &:after {
      top: 0;
      background: $color-gray-darker;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &-hamburger, &-follow, &-search {
    position: relative;
    height: 50px;
    &-link {
      min-width: 50px;
      text-align: center;
    }
  }

  &-follow, &-search {
    &-link {
      display: inline-block;
      position: relative;
      height: 100%;
      text-decoration: none;
    }
    &-content {
      display: block;
      position: absolute;
      visibility: hidden;
      z-index: 2;
      box-shadow: 0 15px 45px 15px rgba(0, 0, 0, 0.07);
      background: #fff;
      opacity: 0;
      transform: translate(0px, 20px);
      transition: visibility 0s .5s, opacity .3s ease-in-out .2s, transform 0.375s ease-in-out .2s;
    }
    .is-active > &-content {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, 0px);
      transition: visibility 0s ease-in-out .2s, opacity .3s ease-in-out .2s, transform .3s ease-in-out .2s;
    }
  }

  &-follow-content {
    left: -5px;
  }
  &-search-content {
    right: 0;
    left: auto;
    width: 100%;
    padding: 15px 30px;
    input[type="submit"] {
      @extend %visuallyhidden;
    }
  }

  &-follow {
    .icon {
      font-size: 2.5rem;
    }
  }
  &-search {
    position: initial;
  }

  &-hamburger-link {
    display: inline-block;
    height: 100%;
  }

  &-hamburger-icon {
    position: relative;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    &, &::before, &::after {
      cursor: pointer;
      border-radius: 1px;
      height: 3px;
      width: 30px;
      background: white;
      display: block;
      content: '';
      transition: all 500ms ease-in-out;
    }
    &::before {
      top: -10px;
      position: absolute;
    }
    &::after {
      bottom: -10px;
      position: absolute;
    }
  }
}

/* ## Social Links Dropdown
--------------------------------------------- */
.social {
  list-style: none;
  text-align: center;
  padding: 5px;
  margin: 0;
  .icon {
    line-height: 1.8em;
  }
  &-item {
    width: 48px;
    height: 48px;
    &-facebook {
      background-color: $color-social-facebook;
    }
    &-twitter {
      background-color: $color-social-twitter;
    }
    &-google-plus {
      background-color: $color-social-google-plus;
    }
    &-pinterest {
      background-color: $color-social-pinterest;
    }
    &-instagram {
      background-color: $color-social-instagram;
    }
  }
  &-item-link {
    text-decoration: none;
  }
}