/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: $font-size-h3;
}

.entry-title {
  font-size: $font-size-h2;

  a {
    color: $color-gray-darker;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }
}

.sidebar .widget-title a {
  color: $link-color;
}

.widget-title {
  font-size: $font-size-h3;
  margin-bottom: 20px;
}

.footer-widgets .widget-title {
  color: #fff;
}