/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {

  li {
    display: inline;
  }

  li a {
    background-color: $color-gray-darker;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size;
    padding: 8px 12px;
    text-decoration: none;
  }

  li a:hover,
  li a:focus,
  .active a {
    background-color: $color-danger;
    text-decoration: underline;
  }
}