/* # Widgets
---------------------------------------------------------------------------------------------------- */

//* Ad before content

.widget-area.ad-before-content {
  text-align: center;
  border-bottom: 1px solid $color-gray-lightest;
}

.adsbygoogle {
  background-color: #eee;
}

.widget-area {
  padding: 10px 0;
}

.widget {
  word-wrap: break-word;

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
  }
}

.widget_calendar {

  table {
    width: 100%;
  }

  td,
  th {
    text-align: center;
  }
}