/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
--------------------------------------------- */

html {
  font-size: $font-size-html;

  // Return if not differ from the original
  @if $font-size-html-sm != $font-size-html {
    @media (min-width: $screen-sm) {
      font-size: $font-size-html-sm;
    }
  }
  @if $font-size-html-md != $font-size-html {
    @media (min-width: $screen-md) {
      font-size: $font-size-html-md;
    }
  }
  @if $font-size-html-lg = $font-size-html {
    @media (min-width: $screen-lg) {
      font-size: $font-size-html-lg;
    }
  }
  @if $font-size-html-xl != $font-size-html {
    @media (min-width: $screen-xl) {
      font-size: $font-size-html-xl;
    }
  }
  @if $font-size-html-xxl != $font-size-html {
    @media (min-width: $screen-xxl) {
      font-size: $font-size-html-xxl;
    }
  }
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 300;
  line-height: $line-height;
  margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all .1s ease-in-out;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: $type-spacer;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid $color-gray-lightest;
  clear: both;
  margin-top: $type-spacer;
  margin-bottom: $type-spacer;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;

  &::before {
    position: relative;
    top: -10px;
    left: -20px;
    content: "\201C";
    display: block;
    font-size: 3rem;
    height: 0;
  }
}